<h1><strong><u>Assignment 6</u></strong></h1>

In [8]:
import pandas as pd

In [12]:
data = pd.read_csv("https://raw.githubusercontent.com/cdavidshaffer/CPSC4970-AI/master/data/penguins.csv")
data.info()
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   344 non-null    object
 3   culmen_depth_mm    344 non-null    object
 4   flipper_length_mm  344 non-null    object
 5   body_mass_g        344 non-null    object
 6   sex                344 non-null    object
dtypes: object(7)
memory usage: 18.9+ KB

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,?,?,?,?,?
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,?
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,?

In [15]:
# get unique values of all textual columns

textual_columns = ['species', 'island', 'sex']

for i in textual_columns:
    print(data[i].unique())

['Adelie' 'Chinstrap' 'Gentoo']
['Torgersen' 'Biscoe' 'Dream']
['MALE' 'FEMALE' '?' '_']

In [17]:
for i in textual_columns:
    data[i] = data[i].astype('string')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    string
 1   island             344 non-null    string
 2   culmen_length_mm   342 non-null    object
 3   culmen_depth_mm    342 non-null    object
 4   flipper_length_mm  342 non-null    object
 5   body_mass_g        342 non-null    object
 6   sex                333 non-null    string
dtypes: object(4), string(3)
memory usage: 18.9+ KB

In [ ]:
# Replace '?'
replace_characters = ['?', '_']

for char in replace_characters:
    data = data.replace(to_replace=char, value=None)

In [ ]:
data.info()

In [10]:
data['culmen_length_mm'] = pd.to_numeric(data['culmen_length_mm'], errors='coerce')
data['culmen_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: culmen_length_mm, Length: 344, dtype: float64

In [4]:
display(data)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,None,None,None,None,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,None,None,None,None,None
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [5]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    object
 3   culmen_depth_mm    334 non-null    object
 4   flipper_length_mm  334 non-null    object
 5   body_mass_g        334 non-null    object
 6   sex                334 non-null    object
dtypes: object(7)
memory usage: 20.9+ KB

In [ ]:
#Create a loop that that all numeric columns have only numeric values
# |
# v

data['culmen_length_mm'] = pd.to_numeric(data['culmen_length_mm'], errors='coerce')
data['culmen_length_mm']

0      39.1
1      39.5
2      40.3
4      36.7
5      39.3
       ...
338    47.2
340    46.8
341    50.4
342    45.2
343    49.9
Name: culmen_length_mm, Length: 334, dtype: float64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    object
 4   flipper_length_mm  334 non-null    object
 5   body_mass_g        334 non-null    object
 6   sex                334 non-null    object
dtypes: float64(1), object(6)
memory usage: 20.9+ KB

In [ ]:
# data.loc[:, 'culmen_length_mm':'body_mass_g'] = pd.to_numeric(data.loc[:, 'culmen_length_mm':'body_mass_g'], errors='coerce')
# numeric_data = data.loc[:, 'culmen_length_mm':'body_mass_g']
# numeric_data

TypeError: arg must be a list, tuple, 1-d array, or Series